<h1>Edit School Class</h1>

<%=form_for @school do |f|%>
  <%=f.text_field :title%>
  <%=f.text_field :room_number%>
  
  <%=hidden_field_tag "authenticity_token", form_authenticity_token %>
  <%=f.submit 'Edit School'%>
<%end%>
